@import "grid",
        "dark-theme",
        "nav",
        "footer",
        "button",
        "button-group",
        "icons";

html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.container {
  padding-top: $header-height;
  &.has-filter {
    padding-top: 104px;
    @media #{$large-up} {
      padding-top: 72px;
    }
  }
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

pre {
    word-wrap: break-word;
}
