<!DOCTYPE html>
<html>
<head>
  <title>Transmission Web Client</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta charset="utf-8">
  <link href="app/app.scss" type="text/css" rel="stylesheet/scss">
</head>
<body ng-controller="AppCtrl as app">
<!-- <body ng-controller="AppCtrl as app" class="dark"> -->

  <!-- Livereload script for development only (stripped during dist build) -->
  <script src="http://localhost:35729/livereload.js" data-concat="false"></script>

  <!-- JS from Bower Components -->
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/headroom.js/dist/headroom.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-deferred-bootstrap/angular-deferred-bootstrap.js"></script>
  <script src="bower_components/headroom.js/dist/angular.headroom.js"></script>
  <!-- Add New Bower Component JS Above -->

  <nav headroom classes="app.navClasses" class="noselect">
  	<ul>
  		<li class="left"><a class="icon new" title="Open Torrent"></a></li>
      <li class="centered"><a class="icon resume" title="Resume Torrent(s)" ng-click="app.resume();"></a></li>
      <li class="centered"><a class="icon pause" title="Pause Torrent(s)" ng-click="app.pause();"></a></li>
      <li class="centered"><a class="icon remove" title="Remove Torrent(s)" ng-click="app.remove();"></a></li>
      <li class="right"><a class="icon search" title="Filter Torrents" ng-click="app.showFilter = !app.showFilter;" ng-class="{ 'active': app.showFilter }"></a></li>
  	</ul>
    <div class="filter row" ng-class="{'show-filter': app.showFilter}">
      <div class="small-6 medium-4 column cell">
        <select ng-model="app.filter.status" ng-options="status for status in app.statuses" ng-init="app.filter.status = app.statuses[0]" tabindex="1"></select>
      </div>
      <div class="small-6 medium-4 column cell no-pad">
        <h6><span class="icon download"></span><span ng-bind="app.statistics.downloadSpeed | bytes:true"></span> <span class="icon upload"></span> <span ng-bind="app.statistics.uploadSpeed | bytes:true"></span></h6>
      </div>
      <div class="medium-4 column cell">
        <input type="text" ng-model="app.filter.name" placeholder="Filter name..." tabindex="2" has-focus="app.showFilter">
      </div>
    </div>
  </nav>

  <div id="content" class="container" ng-class="{ 'has-filter': app.showFilter }">
    <div class="row">
      <div ng-view>
      </div>
    </div>
  </div>

  <footer class="noselect">
    <div class="row">
      <div class="small-4 column">
        <a class="icon settings"></a>
      </div>
      <div class="small-4 column end">
        <h6><strong ng-bind="app.torrents.length"></strong> transfers</h6>
      </div>
    </div>
  </footer>

</body>
</html>
