<!DOCTYPE html>
<html ng-app="transmission">
<head>
  <title>Transmission Web Client</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta charset="utf-8">
  <link href="app/app.scss" type="text/css" rel="stylesheet/scss">
</head>
<body ng-controller="AppCtrl as app">

  <!-- Livereload script for development only (stripped during dist build) -->
  <script src="http://localhost:35729/livereload.js" data-concat="false"></script>

  <!-- JS from Bower Components -->
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/headroom.js/dist/headroom.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/headroom.js/dist/angular.headroom.js"></script>
  <!-- Add New Bower Component JS Above -->

  <nav headroom classes="app.navClasses" class="noselect">
  	<ul>
  		<li class="left"><a class="icon new" title="Open Torrent" tabindex="1"></a></li>
      <li class="centered"><a class="icon pause" title="Pause Torrent(s)" tabindex="10"></a></li>
      <li class="centered"><a class="icon resume" title="Resume Torrent(s)" tabindex="20"></a></li>
      <li class="centered"><a class="icon remove" title="Remove Torrent(s)" tabindex="30"></a></li>
      <li class="right"><a class="icon search" title="Filter Torrents"  tabindex="40" ng-click="app.showFilter = !app.showFilter;"></a></li>
  	</ul>
    <div class="filter" ng-class="{'show-filter': app.showFilter}">
      <select ng-model="app.filter.status" ng-options="status as status.label for status in app.statuses track by status.label" ng-init="app.filter.status = app.statuses[0]"></select>
      <input type="text" ng-model="app.filter.title" placeholder="Filter" has-focus="app.showFilter">
    </div>
  </nav>

  <div id="content" class="container" ng-class="{ 'has-filter': app.showFilter }">
    <div class="row">
      <div ng-view>
      </div>
    </div>
  </div>

</body>
</html>
