<div ng-switch="torrent.category">
  <div ng-switch-when="Peers" class="peers">
    <ul ng-switch="torrent.peers && torrent.peers.length > 0">
      <li ng-switch-when="true" ng-repeat="peer in torrent.peers" ng-bind="peer"></li>
      <li ng-switch-default>0 connected peers</li>
    </ul>
  </div>
  <div ng-switch-when="Tracker" class="tracker">
    <pre ng-bind="torrent.trackerStats | json"></pre>
  </div>
  <div ng-switch-when="Files" class="files">
    <ul ng-init="torrent.limit = torrent.limit || 5;">
      <li ng-repeat="file in torrent.files | limitTo:torrent.limit">
        <div class="name">
          <p ng-bind="file.name"></p>
        </div>
        <div class="stats">
          <span ng-bind="file.bytesCompleted | bytes:false:true"></span> of
          <span ng-bind="file.length | bytes:false:true"></span>
        </div>
      </li>
      <li class="has-button" ng-if="torrent.limit < torrent.files.length;">
        <a class="button full-width" ng-click="torrent.limit = torrent.files.length;">Show All Files</a>
      </li>
    </ul>
  </div>
  <div ng-switch-default class="info">
    <pre ng-bind="torrent | json"></pre>
  </div>
</div>
