@if $dark-theme {
  /* NAV */
  $header-bg-color: lighten(#000, 10%);
  $header-border-color: darken($header-bg-color, 10%);
  $header-opacity: 0.95;

  /* TORRENTS */
  $torrent-bg-color: lighten(#000, 10%);
  $torrent-border-color: darken($torrent-bg-color, 5%);
  $torrent-stripe-bg-color: lighten($torrent-bg-color, 1.5%);
  $torrent-stripe-border-color: darken($torrent-stripe-bg-color, 5%);
  $torrent-color: darken(#FFF, 25%);

  /* TORRENTS PROGRESS */
  // $completed-bg-color: #143c17;
  $torrent-progress-height: 2px;

  $completed-bg-color: #4fff9e;
  $downloading-bg-color: #4fbfff;
  $error-bg-color: #ff4f4f;

  /* FOOTER */
  $footer-color: darken(#FFF, 35%);
}