$header-bg-color: darken(#FFF, 5%);
$header-border-color: darken($header-bg-color, 15%);
$header-opacity: 0.925;
$header-height: $header-height !default;

$scale-factor: 0.75;

nav {
  background-color: rgba($header-bg-color, $header-opacity);
  border-bottom: 1px solid $header-border-color;
  height: $header-height;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: $header-z-index;
  ul {
    margin: 0;
    padding: 0 0.25rem;
    padding-top: 0.25rem;
    text-align: center;
    li {
      list-style-type: none;
      display: inline-block;
      &.left {
        float: left;
      }
      &.right {
        float: right;
      }
      &.centered {
        margin: 0 1rem;
      }
    }
  }
  .filter {
    &.show-filter {
      max-height: $header-height * $scale-factor;
      border-bottom: 1px solid darken($header-bg-color, 25%);
      .cell {
        visibility: visible;
        padding: 0.25rem 0;
        &.no-pad {
          padding: 0;
        }
      }
    }
    .cell {
      visibility: hidden;
      padding-left: 0;
      padding-right: 0;
    }
    position: fixed;
    top: $header-height+1;
    width: 100%;
    padding: 0 0.5rem;
    max-height: 0;
    background-color: $header-bg-color;
    box-sizing: border-box;
    input {
      box-sizing: border-box;
      outline: none;
      border: 1px solid #CCC;
      border-radius: 0.25rem;
      padding: 0.3125rem;
      &:focus {
        border-color: $focus-border-color;
        box-shadow: $focus-box-shadow-small;
      }
    }
    select, input, h6 {
      margin: 0;
      width: 100%;
      padding-top: 0.25rem;
    }
    h6 {
      text-align: center;
      font-weight: normal;
      display: block;
      line-height: 22px;
    }
  }
}

.nav, .filter {
  transition: max-height 125ms linear;
  transform-origin: top;
}

.nav {
  $mini-height: $header-height * $scale-factor;
  &.nav-up {
    max-height: $header-height;
  }
  &.nav-down {
    max-height: $mini-height;
    ul {
      padding-top: 0;
    }
    .icon {
      max-height: 26px;
      &.resume {
        position: relative;
        top: 1px;
      }
    }
    .filter {
      top: $mini-height + 1;
    }
    ~ .container.has-filter {
      top: ($mini-height * 2) + 1;
    }
  }
  ~ .container.has-filter {
    top: $header-height + $mini-height;
  }
}