$completed-bg-color: #e4f9e5 !default;
$downloading-bg-color: #e4f1f9 !default;
$paused-bg-color: darken(#FFF, 7.5%) !default;
$error-bg-color: #f9e4e4 !default;

$darkening-percentage: 10% !default;

$completed-border-color: darken($completed-bg-color, $darkening-percentage);
$downloading-border-color: darken($downloading-bg-color, $darkening-percentage);
$paused-border-color: darken($paused-bg-color, $darkening-percentage);
$error-border-color: darken($error-bg-color, $darkening-percentage);

$torrent-font-size: 0.8rem;
$torrent-progress-height: 100% !default;

$torrent-progress-lightening: 27.5%;

@import "mixins";

.torrent a {
  padding: $torrent-padding 0;
  padding-left: $torrent-padding;
  display: block;
  position: relative;
  border-width: 0 1px 1px 0;
  font-size: $torrent-font-size;
  box-sizing: border-box;
  .progress {
    position: absolute;
    left: 0;
    width: 100%;
    height: $torrent-progress-height;
    @if $torrent-progress-height != 100% {
      bottom: 0;
    } @else {
      top: 0;
    }
    z-index: $torrent-z-index;
    border-width: 0 1px 1px 0;
    border-color: transparent;
    border-style: solid;
    box-sizing: border-box;
  }
}

$states: completed, downloading, paused, error;

.torrent-list .torrent a {
  &.completed {
    @if $dark-theme {
      $color: lighten($completed-bg-color, $torrent-progress-lightening);
      color: $color;
      .active {
        background-color: $color;
        border-color: lighten($color, 25%);
        color: black;
      }
    }
    .progress {
      background-color: $completed-bg-color;
      border-color: $completed-border-color;
    }
  }
  &.downloading {
    @if $dark-theme {
      $color: lighten($downloading-bg-color, $torrent-progress-lightening);
      color: $color;
      .active {
        background-color: $color;
        border-color: lighten($color, 25%);
        color: black;
      }
    }
    .progress {
      background-color: $downloading-bg-color;
      border-color: $downloading-border-color;
    }
  }
  &.paused {
    @if $dark-theme {
      $color: lighten($paused-bg-color, $torrent-progress-lightening);
      color: $color;
      .active {
        background-color: $color;
        border-color: lighten($color, 25%);
        color: black;
      }
    }
    .progress {
      background-color: $paused-bg-color;
      border-color: $paused-border-color;
    }
  }
  &.error {
    @if $dark-theme {
      $color: lighten($error-bg-color, $torrent-progress-lightening);
      color: $color;
      .active {
        background-color: $color;
        border-color: lighten($color, 25%);
        color: black;
      }
    }
    .progress {
      background-color: $error-bg-color;
      border-color: $error-border-color;
    }
  }
}