$completed-bg-color: #e4f9e5 !default;
$downloading-bg-color: #e4f1f9 !default;
$paused-bg-color: darken(#FFF, 7.5%) !default;
$error-bg-color: #f9e4e4 !default;

$darkening-percentage: 10% !default;

$completed-border-color: darken($completed-bg-color, $darkening-percentage);
$downloading-border-color: darken($downloading-bg-color, $darkening-percentage);
$paused-border-color: darken($paused-bg-color, $darkening-percentage);
$error-border-color: darken($error-bg-color, $darkening-percentage);

$torrent-font-size: 0.8rem;
$torrent-progress-height: 100% !default;

.torrent a {
  padding: $torrent-padding;
  display: block;
  position: relative;
  border-width: 0 1px 1px 0;
  font-size: $torrent-font-size;
  box-sizing: border-box;
  &.selected {
    background-color: darken($torrent-stripe-bg-color, 15%);
    border-color: darken($torrent-stripe-bg-color, 25%);
  }
  .title {
    z-index: $torrent-title-z-index;
    position: relative;
    display: inline-block;
    max-width: 70%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .statistics {
    position: absolute;
    right: 0;
  }
  .progress {
    position: absolute;
    left: 0;
    width: 100%;
    height: $torrent-progress-height;
    @if $torrent-progress-height != 100% {
      bottom: 0;
    } @else {
      top: 0;
    }
    z-index: $torrent-z-index;
    border-width: 0 1px 1px 0;
    border-color: transparent;
    border-style: solid;
    box-sizing: border-box;
  }
}

.torrent-list .torrent a {
  .completed {
    background-color: $completed-bg-color;
    border-color: $completed-border-color;
  }
  .downloading {
    background-color: $downloading-bg-color;
    border-color: $downloading-border-color;
  }
  .paused {
    background-color: $paused-bg-color;
    border-color: $paused-border-color;
  }
  .error {
    background-color: $error-bg-color;
    border-color: $error-border-color;
  }
}