$border-color: darken(#FFF, 5%);
$torrent-padding: 0.5rem 0.25rem;

$stripe-color: darken(#FFF, 1.25%);
$stripe-border-color: darken($border-color, 1.25%);

$font-size: 0.9rem;

.column.torrents {
  padding-right: 0;
  padding-left: 0;
}

.torrent-list {
  margin: 0;
  padding: 0;
}

.torrent {
  border-bottom: 1px solid $border-color;
  list-style-type: none;
  font-size: $font-size;
  cursor: pointer;
  &:last-child {
    border-bottom-width: 0;
  }
  &:nth-child(even) {
    background-color: $stripe-color;
    border-color: $stripe-border-color;
  }
  a {
    padding: $torrent-padding;
    display: block;
    &.selected {
      background-color: darken($stripe-color, 15%);
      border-color: darken($stripe-color, 25%);
    }
  }
}