$torrent-bg-color: #FFF !default;
$torrent-border-color: darken(#FFF, 5%) !default;
$torrent-padding: 0.5rem !default;

$torrent-color: #444 !default;

$torrent-stripe-bg-color: darken(#FFF, 1.25%) !default;
$torrent-stripe-border-color: darken($torrent-border-color, 1.25%) !default;

$torrent-font-size: 1rem !default;
$torrent-title-font-size: $torrent-font-size * 0.8;
$torrent-statistics-font-size: $torrent-font-size * 0.75;

@import "style/progress";
@import "style/additional-detail";

.column.torrents {
  padding-right: 0;
  padding-left: 0;
}

.torrent-list {
  margin: 0;
  padding: 0;
  padding-bottom: $header-height * $scale-factor;
  overflow-y: auto;
}

.torrent {
  list-style-type: none;
  font-size: $torrent-font-size;
  cursor: pointer;
  &:last-child {
    border-bottom-width: 0;
  }
  > a {
    background-color: $torrent-bg-color;
    border-bottom: 1px solid $torrent-border-color;
    color: $torrent-color;
    &.selected {
      background-color: darken($torrent-stripe-bg-color, 15%) !important;
      border-color: darken($torrent-stripe-bg-color, 25%) !important;
    }
    &.full-width {
      .title, .statistics {
        max-width: 95%;
      }
    }
    .title, .statistics {
      max-width: 77.5%;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      position: relative;
    }
    .title {
      z-index: $torrent-title-z-index;
      display: inline-block;
      font-size: $torrent-title-font-size;
    }
    .statistics {
      z-index: $torrent-z-index+1;
      font-size: $torrent-statistics-font-size;
      @if $dark-theme {
        color: darken($torrent-color, 10%);
      } @else {
        color: lighten($torrent-color, 10%);
      }
    }
    &.additional-detail {
      .download-upload {
        top: 0;
        transform: none;
      }
    }
    .download-upload {
      font-size: $torrent-font-size * 0.7;
      color: $torrent-color;
      position: absolute;
      right: 0.5rem;
      top: 47.5%;
      transform: translateY(-50%);
      .dl, .ul {
        display: block;
        padding: 0.125rem 0.25rem;
        margin: 0.2rem 0;
        border-radius: 0.25rem;
        text-align: center;
      }
      .dl {
        background-color: rgba($downloading-bg-color, 0.15);
        border: 1px solid rgba(lighten($downloading-bg-color, 25%), 0.25);
      }
      .ul {
        background-color: rgba($completed-bg-color, 0.15);
        border: 1px solid rgba(lighten($completed-bg-color, 25%), 0.25);
      }
      .icon {
        margin: 0;
        margin-right: 0.25rem;
        float: left;
      }
    }
  }
  &:nth-child(even) > a {
    background-color: $torrent-stripe-bg-color;
    border-color: $torrent-stripe-border-color;
  }
}
