<div class="column torrents">
  <ul class="torrent-list">
    <li class="torrent" ng-repeat="torrent in ( app.torrents = (torrents.torrentList.torrents | smartFilter:app.filter) )" ng-click="torrents.selectTorrent(torrent, $index, $event);">
      <a class="noselect" ng-class="{ 'selected': torrent.selected}">
        <span class="title" ng-bind="::torrent.name"></span>
        <span class="statistics">
          <span class="ratio" ng-bind="torrent.uploadRatio | number:2"></span>
        </span>
        <span class="progress" ng-class="{ 'completed': torrent.percentDone === 1, 'downloading': torrent.percentDone < 1, 'paused': torrent.status === 0, 'error': torrent.error }" ng-style="{ width: ( (torrent.progress || 1) * 100) + '%' }"></span>
      </a>
    </li>
  </ul>
</div>
